* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 650;
    width: 40%;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #887472;
    margin: 0;
}

.search-form .inp{
    display: inline-block;
    border: none;
    max-width: 798px;
    border: 3px solid rgb(123, 155, 147);
    width: 100%;
    height: 54px;
    padding-right: 20px;
    padding-left: 45px;
    border-radius: 8px;
    text-align: right;
    font-size: 18px;
    font-family: initial;
    display: flex;
    font-weight: bold;
}

.search-form .search-btn { 
    position: absolute;
    max-width: 47px;
    height: 54px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    padding: 12px;
    margin-top: 0px;
    cursor: pointer;
}

@media screen and (max-width:650px){
    .search-form{
        width: 90%;
    }
}

input[type="text"]:focus{
    border: 3px solid #e0493e;
    outline: none;
     -webkit-transition: 0.5s;
    transition: 0.5s;
}

img.ri {
    position: absolute;
    width: 300px;
    height: auto;
}

img.ri {
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-down {
    position: absolute;
    top: 94%;
    /* left: 60%; */
    text-align: right;
    background:rgb(180, 195, 190); 
    max-width: 1950px;
    width: 100%;
    /* border: 2px solid blueviolet; */
    padding: 20px;
}
.container-down .title {
    color: rgb(48, 58, 57);
    margin-right:100px;
    margin-left: 15px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}

.container-down .title2 {
    color: rgb(48, 58, 57);
    margin-right:50px;
    margin-left: 15px;
    font-size: medium;
    font-weight: bold;
    text-decoration: none;
}
.container-down .title:hover {
    color: #a85e59;
}

.container-down .title2:hover {
    color: #a85e59;
}

.container-up{
    position: absolute;
    top: 0;
    background:rgb(180, 195, 190); 
    max-width: 1950px;
    width: 100%;
    padding: 35px;
}

.container-up .menu-3-line{
    position: absolute;
    top: 18%;
    left: 7%;
    cursor: pointer;
    display: inline-block;
    transition: 2s;
}

.menu-line1, .menu-line2, .menu-line3{
    width: 55px;
    padding: 4px;
    border-radius: 8px;
    background-color: black;
    margin: 4px;
}


/* .change .menu-line1{
    -webkit-transform: rotate(45deg) translate(8px, 10px);
    transform: rotate(45deg) translate(8px, 10px);
} */

/*.menu-line2{
    opacity: 0;
}

.menu-line3{
    -webkit-transform: rotate(-45deg) translate(8px, -15px);
    transform: rotate(-45deg) translate(8px, -15px);
} */
